<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View All Data</title>
  </head>
  <body>
    <h1>HELLO</h1>
    {% comment %} {% for i in data %}
    <li>{{i.DateOrdered}}, {{i.DueDate}}, {{i.Number}}, {{i.Description}}, {{i.Amount}}, {{i.NTEPrice}}, {{i.Client}}, {{i.PhoneNumber}}, {{i.Adress}}, {{i.City}}, {{i.State}}, {{i.Country}},, {{i.Status}}, {{i.Comments}}</li>
    {% endfor %} {% endcomment %}
    {{json_data}}
  </body>
</html>
